{{#foreach posts}}
    <article class="{{post_class}} post-stub">
        <div class="stripes c100 sit-top">
            <div class="stripe bg-karma-blue"></div>
            <div class="stripe bg-karma-green"></div>
            <div class="stripe bg-karma-yellow"></div>
            <div class="stripe bg-karma-orange"></div>
        </div>
        <!-- End Stripes -->
        <div class="post-feature">
            <a href="{{url}}">
                {{#if image}}
                    <img class="post-featured-image" src="{{image}}">
                {{else}}
                    {{content words="0"}}
                {{/if}}

                <div class="post-feature-overlay"></div>
            </a>
        </div>

        <header class="post-header">
            <div class="post-stub-meta">
                <span class="post-date">{{date format="MMMM Do YYYY"}}</span>
            </div>

            <h1 class="post-stub-title"><a href="{{url}}">{{title}}</a></h1>
            <div class="author-info">

                <div class="author-name">
                    {{author}} {{tags prefix=" on "}}
                </div>

            </div>
        </header>
<hr>
        <div class="post-content">
            <p>{{excerpt characters=230}}...</p>
        </div>

        <footer class="post-stub-footer">
            <a class="post-link" href="{{url}}">Read the Post</a>
        </footer>
    </article>
{{/foreach}}
