<!DOCTYPE html>
<!--[if IE 7]> <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic|Roboto+Slab:700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/assets/css/ie.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
    <![endif]-->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{! ################################################### }}
    {{! Add your Google Analytics code here }}
    {{! ################################################### }}

</head>
<body class="{{body_class}} no-js">

    {{{body}}}

    <footer class="site-footer">
        <div class="stripes c100 sit-top">
            <div class="stripe bg-karma-blue"></div>
            <div class="stripe bg-karma-green"></div>
            <div class="stripe bg-karma-yellow"></div>
            <div class="stripe bg-karma-orange"></div>
        </div>
        <!-- End Stripes -->
        <div class="container">
            <div class="icon-menu">
                <a title="Karma on Facebook" href="https://facebook.com/havekarma">&#xf082;</a>
                <a title="Karma on Twitter" href="https://twitter.com/karmateam">&#xf081;</a>
                <a title="Karma on Instagram" href="https://instagram.com/havekarma">&#xf16d;</a>
                <a title="Karma on Github" href=https://github.com/havekarma">&#xf092;</a>
                <a title="Karma RSS Feed" href="{{@blog.url}}/rss">&#xf143;</a>
            </div>

            <p class="footer-copyright"><a title="Karma Labs, Inc." href="http://www.havekarma.com">Karma Labs, Inc.</a> © {{date format="YYYY"}} / Powered by <a href="http://tryghost.org" title="Ghost">Ghost</a></p>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></'+'script>');
    }
    </script>

    <script type="text/javascript" src="{{asset "js/masonry.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/imagesloaded.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/scripts.js"}}"></script>

</body>
</html>
